body {
    text-align: center;
}
.background {
background: linear-gradient(85deg, #e66465, #9198e5);
}
.choices {
    padding-bottom: 50px;
}
#grid {
    width: 450px;
    height: 450px;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    background: white;
    margin: auto;
    background-color: whitesmoke;
    
    
}
.grid-item {
    background: black;
  }
